/* || Global Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif, serif;
}

:root {
  --Blue-900: #13183f;
  --Blue-600: #666ca3;
  --Pink-600: #f74780;
  --Pink-300: #ffa7c3;
  --Grey: #83869a;
  --White: #fff;
  --Gradient-Pink: linear-gradient(180deg, #f02aa6, #ff6f48);
  --Gradient-Purple: linear-gradient(180deg, #4851ff, #f02aa6);
}

/* || Main Styling */

body {
  scroll-behavior: smooth;
}

/* Header */

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
}

.header-logo {
  height: auto;
  width: 5rem;
}

.header-btn {
  background-color: var(--Blue-900);
  border: none;
  border-radius: 1.75rem;
  color: var(--White);
  cursor: pointer;
  font-weight: bold;
  padding: 1rem 2rem;
  transition: background-color 0.2s ease-in-out;
  z-index: 2;
}

.header-btn:hover {
  background-color: var(--Blue-600);
}

/* Hero Section */

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 0;
  position: relative;
  padding: 0 1.25rem;
}

.hero-text-container {
  margin-bottom: 3rem;
}

.hero-header {
  color: var(--Blue-900);
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 1.5rem;
}

.hero-text {
  color: var(--Grey);
  font-size: 1.125rem;
  line-height: 150%;
  margin-bottom: 2.5rem;
}

.hero-btn {
  background: var(--Gradient-Pink);
  border: none;
  border-radius: 1.75rem;
  color: var(--White);
  cursor: pointer;
  font-weight: bold;
  opacity: 1;
  padding: 1rem 2rem;
  transition: opacity 0.2s ease-in-out;
}

.hero-btn:hover {
  opacity: 0.7;
}

.tablet-image-wrapper {
  display: none;
}

.hero-image-tablet {
  display: none;
}

.hero-image-desktop {
  display: none;
}

/* Content Section */

.content-grid-content {
  display: grid;
  gap: 3rem;
  grid-template: 1fr / 1fr;
  margin-bottom: 5rem;
  padding: 0 1.25rem;
}

.content-header {
  background: var(--Gradient-Pink);
  border-radius: 0.9rem;
  color: var(--White);
  padding: 2rem;
}

.card {
  box-shadow: 0 1rem 1.5rem #d7d7d7;
  border-radius: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 25rem;
  position: relative;
}

.card-img {
  top: -1.5rem;
  left: 2rem;
  margin-bottom: 1rem;
  position: absolute;
}

.card-text-container {
  margin-top: 3.5rem;
  padding: 2rem;
}

.card-header {
  color: var(--Blue-900);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.card-text {
  color: var(--Grey);
  font-weight: bold;
  line-height: 170%;
  margin-bottom: 1.5rem;
}

.card-link {
  color: var(--Pink-600);
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.card-link:hover {
  color: var(--Pink-300);
}

/* Footer */

footer {
  align-items: center;
  background-color: var(--Blue-900);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.footer-logo {
  height: auto;
  width: 5rem;
}

.footer-btn {
  background: var(--Gradient-Purple);
  border: none;
  border-radius: 1.75rem;
  color: var(--White);
  cursor: pointer;
  font-weight: bold;
  opacity: 1;
  padding: 1rem 2rem;
  transition: background-color 0.2s ease-in-out, background 0.2s ease-in-out;
}

.footer-btn:hover {
  background: none;
  background-color: var(--Pink-300);
}

/* || Media Queries */

/* Tablet View */

@media screen and (min-width: 51.25rem) {
  html,
  body {
    overflow-x: hidden;
  }
  .hero-section {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    padding-right: 0;
  }

  .hero-image-mobile {
    display: none;
  }

  .hero-image-desktop {
    display: none;
  }

  .tablet-image-wrapper {
    display: block;
    position: relative;
  }

  .hero-image-tablet {
    height: 38em;
    display: block;
    position: absolute;
    top: -12rem;
    left: 2em;
    width: auto;
  }

  .content-grid-content {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  }
}

/* Desktop View */

@media screen and (min-width: 90em) {
  html,
  body {
    overflow-x: hidden;
  }

  header {
    padding: 1.5rem 15rem;
  }

  .hero-section {
    padding-left: 15em;
    margin-bottom: 15em;
  }

  .hero-text-container {
    width: 30em;
  }
  .content-section,
  footer {
    padding: 1.5rem 13em;
  }

  .hero-image-tablet {
    display: none;
  }

  .hero-image-desktop {
    height: 52em;
    display: block;
    position: absolute;
    top: -20em;
    left: 2em;
    width: auto;
  }
  .content-grid-content {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }

  .content-header {
    max-width: 25rem;
  }
}
