/* || Global Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Blue-900: #13183f;
  --Blue-600: #666ca3;
  --Pink-600: #f74780;
  --Pink-300: #ffa7c3;
  --Grey: #83869a;
  --White: #fff;
  --Gradient-Pink: linear-gradient(180deg, #f02aa6, #ff6f48);
  --Gradient-Purple: linear-gradient(180deg, #4851ff, #f02aa6);
}
